
<section>
    <div class="container-fluid footer">
        <div class="container">
          <div class="row">
              <div class="col-md-7">
                  <div class="menus">
                      <ul>
                          <li class="one">资源</li>
                          <li>发展战略</li>
                          <li>常见问题</li>
                          <li>隐私政策</li>
                          <li>品牌素材</li>
                          <li>Feeds</li>
                      </ul>
                      <ul>
                          <li class="one">产品</li>
                          <li>Oasis</li>
                          <li>治理</li>
                          <li>升级</li>
                      </ul>
                      <ul>
                          <li class="one">开发文档</li>
                          <li>文件</li>
                          <li>Dai.js</li>
                          <li>发者指南</li>
                      </ul>
                      <ul>
                          <li class="one">基金会</li>
                          <li>团队</li>
                          <li>招聘</li>
                          <li>联系我们</li>
                      </ul>
                  </div>
                  </div>

              <div class="col-md-5">
                  <div class="zhong">
                      <input class="emails" type="text" placeholder="订阅邮箱获取最新消息">
                      <button class="emails-button">
                          <img class="arrow" src="../img/arrow.png" alt="">
                      </button>
                  </div>
              </div>
          </div>
        </div>
    </div>
</section>
