</head>
<body>
    <div id="header-box">
        <header id="header" class="header">
            <div class="container header-inner">
                <!-- Logo -->
                <div class="logo">
                    <a href="/{| common.locale |}/index.html">
                        <img class="logo-dark" src="../img/logo-white.png" alt="Ethmod"/>
                    </a>
                </div>
                <!-- End Logo -->

                <!-- Mobile Navbar Icon -->
                <div class="nav-mobile nav-bar-icon">
                    <span></span>
                </div>
                <!-- End Mobile Navbar Icon -->

                <!-- Navbar Navigation -->
                <div class="nav-menu">
                    <ul class="nav-menu-inner">
                        <li>
                            <a id="id" href="#">产品</a>
                        </li>
                        <li>
                            <a id="ids" href="#">开发者</a>
                        </li>
                        <li>
                            <a id="idss" href="#">学习</a>
                        </li>
                        <li>
                            <a id="idsss" href="#">基金会</a>
                        </li>
                    </ul>
                </div>
                <!-- End Navbar Navigation -->

            </div>
        </header>
    </div>

